In [1]:

from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import functions as F
from pyspark.sql.window import Window

In [2]:
conf = SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [3]:

spark = SparkSession.builder.master("spark://spark-master:7077").config("spark.jars.packages", 
                                                                        "org.apache.hadoop:hadoop-aws-2.7.3").appName("spark-example").getOrCreate()

In [4]:
csv_file = "/home/lec_14/data/oscars.csv"
df_csv = spark.read.csv(csv_file, header=True, inferSchema=True)

df_csv.show()

+--------+--------+------------+-------------------+--------------------+---+-------------+----------+--------+-------+-------+
|oscar_no|oscar_yr|       award|               name|               movie|age|     birth_pl|birth_date|birth_mo|birth_d|birth_y|
+--------+--------+------------+-------------------+--------------------+---+-------------+----------+--------+-------+-------+
|       1|    1929|Best actress|       Janet Gaynor|          7th Heaven| 22| Pennsylvania|1906-10-06|      10|      6|   1906|
|       2|    1930|Best actress|      Mary Pickford|            Coquette| 37|       Canada|1892-04-08|       4|      8|   1892|
|       3|    1931|Best actress|      Norma Shearer|        The Divorcee| 28|       Canada|1902-08-10|       8|     10|   1902|
|       4|    1932|Best actress|     Marie Dressler|        Min and Bill| 63|       Canada|1868-11-09|      11|      9|   1868|
|       5|    1933|Best actress|        Helen Hayes|The Sin of Madelo...| 32|Washington DC|1900-10-10|      10|     10|   1900|
|       6|    1934|Best actress|  Katharine Hepburn|       Morning Glory| 26|  Connecticut|1907-05-12|       5|     12|   1907|
|       7|    1935|Best actress|  Claudette Colbert|It Happened One N...| 31|       France|1903-09-13|       9|     13|   1903|
|       8|    1936|Best actress|        Bette Davis|           Dangerous| 27|Massachusetts|1908-04-05|       4|      5|   1908|
|       9|    1937|Best actress|       Luise Rainer|  The Great Zeigfeld| 26|      Germany|1910-01-12|       1|     12|   1910|
|      10|    1938|Best actress|       Luise Rainer|      The Good Earth| 27|      Germany|1910-01-12|       1|     12|   1910|
|      11|    1939|Best actress|        Bette Davis|             Jezebel| 30|Massachusetts|1908-04-05|       4|      5|   1908|
|      12|    1940|Best actress|       Vivien Leigh|  Gone With the Wind| 26|        India|1913-11-05|      11|      5|   1913|
|      13|    1941|Best actress|      Ginger Rogers|         Kitty Foyle| 29|     Missouri|1911-07-16|       7|     16|   1911|
|      14|    1942|Best actress|      Joan Fontaine|           Suspicion| 24|        Japan|1917-10-22|      10|     22|   1917|
|      15|    1943|Best actress|       Greer Garson|        Mrs. Miniver| 38|      England|1904-09-29|       9|     29|   1904|
|      16|    1944|Best actress|     Jennifer Jones|The Song of Berna...| 24|     Oklahoma|1919-03-02|       3|      2|   1919|
|      17|    1945|Best actress|     Ingrid Bergman|            Gaslight| 29|       Sweden|1915-08-29|       8|     29|   1915|
|      18|    1946|Best actress|      Joan Crawford|      Mildred Pierce| 33|        Texas|1912-03-23|       3|     23|   1912|
|      19|    1947|Best actress|Olivia de Havilland|     To Each His Own| 30|        Japan|1916-07-01|       7|      1|   1916|
|      20|    1948|Best actress|      Loretta Young|The Farmer's Daug...| 34|         Utah|1913-01-06|       1|      6|   1913|
+--------+--------+------------+-------------------+--------------------+---+-------------+----------+--------+-------+-------+
only showing top 20 rows

In [5]:
df_csv.explain(True)

== Parsed Logical Plan ==
Relation [oscar_no#17,oscar_yr#18,award#19,name#20,movie#21,age#22,birth_pl#23,birth_date#24,birth_mo#25,birth_d#26,birth_y#27] csv

== Analyzed Logical Plan ==
oscar_no: int, oscar_yr: int, award: string, name: string, movie: string, age: int, birth_pl: string, birth_date: date, birth_mo: int, birth_d: int, birth_y: int
Relation [oscar_no#17,oscar_yr#18,award#19,name#20,movie#21,age#22,birth_pl#23,birth_date#24,birth_mo#25,birth_d#26,birth_y#27] csv

== Optimized Logical Plan ==
Relation [oscar_no#17,oscar_yr#18,award#19,name#20,movie#21,age#22,birth_pl#23,birth_date#24,birth_mo#25,birth_d#26,birth_y#27] csv

== Physical Plan ==
FileScan csv [oscar_no#17,oscar_yr#18,award#19,name#20,movie#21,age#22,birth_pl#23,birth_date#24,birth_mo#25,birth_d#26,birth_y#27] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/lec_14/data/oscars.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<oscar_no:int,oscar_yr:int,award:string,name:string,movie:string,age:int,birth_pl:string,bi...

In [6]:
df_csv.printSchema()

root
 |-- oscar_no: integer (nullable = true)
 |-- oscar_yr: integer (nullable = true)
 |-- award: string (nullable = true)
 |-- name: string (nullable = true)
 |-- movie: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- birth_pl: string (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- birth_mo: integer (nullable = true)
 |-- birth_d: integer (nullable = true)
 |-- birth_y: integer (nullable = true)

In [7]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("year", StringType(), True),
    StructField("age", IntegerType(), True) #Wrong type
])

df_csv_with_schema = spark.read.schema(schema).csv(csv_file, header=True)

df_csv_with_schema.show()

+---+----+----+
| id|year| age|
+---+----+----+
|  1|1929|NULL|
|  2|1930|NULL|
|  3|1931|NULL|
|  4|1932|NULL|
|  5|1933|NULL|
|  6|1934|NULL|
|  7|1935|NULL|
|  8|1936|NULL|
|  9|1937|NULL|
| 10|1938|NULL|
| 11|1939|NULL|
| 12|1940|NULL|
| 13|1941|NULL|
| 14|1942|NULL|
| 15|1943|NULL|
| 16|1944|NULL|
| 17|1945|NULL|
| 18|1946|NULL|
| 19|1947|NULL|
| 20|1948|NULL|
+---+----+----+
only showing top 20 rows

In [8]:

df_csv_with_schema.printSchema()

root
 |-- id: integer (nullable = true)
 |-- year: string (nullable = true)
 |-- age: integer (nullable = true)

In [9]:
# Load CSV file with specific options
df_csv_options = spark.read.options(header='True', 
                                    inferSchema='True', 
                                    delimiter=',',
                                    quote='"',
                                    dateFormat='yyyy-MM-dd',
                                    escape='\\').csv(csv_file)

df_csv_options.show()

+--------+--------+------------+-------------------+--------------------+---+-------------+----------+--------+-------+-------+
|oscar_no|oscar_yr|       award|               name|               movie|age|     birth_pl|birth_date|birth_mo|birth_d|birth_y|
+--------+--------+------------+-------------------+--------------------+---+-------------+----------+--------+-------+-------+
|       1|    1929|Best actress|       Janet Gaynor|          7th Heaven| 22| Pennsylvania|1906-10-06|      10|      6|   1906|
|       2|    1930|Best actress|      Mary Pickford|            Coquette| 37|       Canada|1892-04-08|       4|      8|   1892|
|       3|    1931|Best actress|      Norma Shearer|        The Divorcee| 28|       Canada|1902-08-10|       8|     10|   1902|
|       4|    1932|Best actress|     Marie Dressler|        Min and Bill| 63|       Canada|1868-11-09|      11|      9|   1868|
|       5|    1933|Best actress|        Helen Hayes|The Sin of Madelo...| 32|Washington DC|1900-10-10|      10|     10|   1900|
|       6|    1934|Best actress|  Katharine Hepburn|       Morning Glory| 26|  Connecticut|1907-05-12|       5|     12|   1907|
|       7|    1935|Best actress|  Claudette Colbert|It Happened One N...| 31|       France|1903-09-13|       9|     13|   1903|
|       8|    1936|Best actress|        Bette Davis|           Dangerous| 27|Massachusetts|1908-04-05|       4|      5|   1908|
|       9|    1937|Best actress|       Luise Rainer|  The Great Zeigfeld| 26|      Germany|1910-01-12|       1|     12|   1910|
|      10|    1938|Best actress|       Luise Rainer|      The Good Earth| 27|      Germany|1910-01-12|       1|     12|   1910|
|      11|    1939|Best actress|        Bette Davis|             Jezebel| 30|Massachusetts|1908-04-05|       4|      5|   1908|
|      12|    1940|Best actress|       Vivien Leigh|  Gone With the Wind| 26|        India|1913-11-05|      11|      5|   1913|
|      13|    1941|Best actress|      Ginger Rogers|         Kitty Foyle| 29|     Missouri|1911-07-16|       7|     16|   1911|
|      14|    1942|Best actress|      Joan Fontaine|           Suspicion| 24|        Japan|1917-10-22|      10|     22|   1917|
|      15|    1943|Best actress|       Greer Garson|        Mrs. Miniver| 38|      England|1904-09-29|       9|     29|   1904|
|      16|    1944|Best actress|     Jennifer Jones|The Song of Berna...| 24|     Oklahoma|1919-03-02|       3|      2|   1919|
|      17|    1945|Best actress|     Ingrid Bergman|            Gaslight| 29|       Sweden|1915-08-29|       8|     29|   1915|
|      18|    1946|Best actress|      Joan Crawford|      Mildred Pierce| 33|        Texas|1912-03-23|       3|     23|   1912|
|      19|    1947|Best actress|Olivia de Havilland|     To Each His Own| 30|        Japan|1916-07-01|       7|      1|   1916|
|      20|    1948|Best actress|      Loretta Young|The Farmer's Daug...| 34|         Utah|1913-01-06|       1|      6|   1913|
+--------+--------+------------+-------------------+--------------------+---+-------------+----------+--------+-------+-------+
only showing top 20 rows

In [10]:
json_file = "/home/lec_14/data/sales.json"
df_json = spark.read.json(json_file, multiLine=True)

df_json.show()

+-----------------+-----+--------------+-------------+
|           client|price|       product|purchase_date|
+-----------------+-----+--------------+-------------+
|     Norma Fisher|  121|Vacuum cleaner|   2022-08-09|
|     Norma Fisher|  348|Microwave oven|   2022-08-13|
|     Norma Fisher| 1126|         Phone|   2022-08-12|
|   Jorge Sullivan|  171|Microwave oven|   2022-08-10|
|  Elizabeth Woods| 1766|            TV|   2022-08-26|
|     Susan Wagner|  461|Microwave oven|   2022-08-26|
|     Susan Wagner|  561|Microwave oven|   2022-08-05|
| Peter Montgomery| 1994|            TV|   2022-08-03|
| Peter Montgomery| 2804|coffee machine|   2022-08-16|
|Stephanie Collins|  403|Vacuum cleaner|   2022-08-20|
|Stephanie Collins| 1775|coffee machine|   2022-08-18|
| Stephanie Sutton|  613|Vacuum cleaner|   2022-08-09|
| Stephanie Sutton| 2148|            TV|   2022-08-30|
| Stephanie Sutton|  568|Microwave oven|   2022-08-01|
|       Susan Levy|  109|coffee machine|   2022-08-20|
|       Susan Levy|  421|Vacuum cleaner|   2022-08-08|
|       Susan Levy| 2764|coffee machine|   2022-08-23|
|   Kimberly Smith|  213|Microwave oven|   2022-08-08|
| Jennifer Summers|  329|Microwave oven|   2022-08-03|
|      Dana Nguyen|  577|Microwave oven|   2022-08-16|
+-----------------+-----+--------------+-------------+
only showing top 20 rows

In [11]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("details", StructType([
        StructField("age", IntegerType(), True),
        StructField("address", StructType([
            StructField("city", StringType(), True),
            StructField("state", StringType(), True)
        ]), True)
    ]), True)
])

nested_json_file = "/home/lec_14/data/few_files/*.json"
df_nested_json = spark.read.schema(schema).json(nested_json_file, multiLine=True)

df_nested_json.show(truncate=False)

+---+---------------+-----------------------+
|id |name           |details                |
+---+---------------+-----------------------+
|2  |Jane Smith     |{25, {Los Angeles, CA}}|
|3  |Michael Johnson|{40, {Chicago, IL}}    |
|1  |John Doe       |{30, {New York, NY}}   |
+---+---------------+-----------------------+

In [12]:
df_nested_json.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- details: struct (nullable = true)
 |    |-- age: integer (nullable = true)
 |    |-- address: struct (nullable = true)
 |    |    |-- city: string (nullable = true)
 |    |    |-- state: string (nullable = true)

In [13]:
parquet_file = "/home/lec_14/data/titanic.parquet"
df_parquet = spark.read.parquet(parquet_file)

# Show DataFrame
df_parquet.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [14]:
text_file = "/home/lec_14/data/android.txt"
df_text = spark.read.text(text_file)

# Show DataFrame
df_text.show()

+--------------------+
|               value|
+--------------------+
|03-17 16:13:38.81...|
|03-17 16:13:38.81...|
|03-17 16:13:38.82...|
|03-17 16:13:38.83...|
|03-17 16:13:38.85...|
|03-17 16:13:38.86...|
|03-17 16:13:38.86...|
|03-17 16:13:38.87...|
|03-17 16:13:38.87...|
|03-17 16:13:38.87...|
|03-17 16:13:38.88...|
|03-17 16:13:38.88...|
|03-17 16:13:38.88...|
|03-17 16:13:38.88...|
|03-17 16:13:38.90...|
|03-17 16:13:38.90...|
|03-17 16:13:38.91...|
|03-17 16:13:38.92...|
|03-17 16:13:38.92...|
|03-17 16:13:38.93...|
+--------------------+
only showing top 20 rows

In [15]:
sc = spark.sparkContext

# Load text file into an RDD
rdd = sc.textFile(text_file)

In [16]:
rdd.take(10)

['03-17 16:13:38.811  1702  2395 D WindowManager: printFreezingDisplayLogsopening app wtoken = AppWindowToken{9f4ef63 token=Token{a64f992 ActivityRecord{de9231d u0 com.tencent.qt.qtl/.activity.info.NewsDetailXmlActivity t761}}}, allDrawn= false, startingDisplayed =  false, startingMoved =  false, isRelaunching =  false',
 '03-17 16:13:38.819  1702  8671 D PowerManagerService: acquire lock=233570404, flags=0x1, tag="View Lock", name=com.android.systemui, ws=null, uid=10037, pid=2227',
 '03-17 16:13:38.820  1702  8671 D PowerManagerService: ready=true,policy=3,wakefulness=1,wksummary=0x23,uasummary=0x1,bootcompleted=true,boostinprogress=false,waitmodeenable=false,mode=false,manual=38,auto=-1,adj=0.0userId=0',
 '03-17 16:13:38.839  1702  2113 V WindowManager: Skipping AppWindowToken{df0798e token=Token{78af589 ActivityRecord{3b04890 u0 com.tencent.qt.qtl/com.tencent.video.player.activity.PlayerActivity t761}}} -- going to hide',
 '03-17 16:13:38.859  2227  2227 D TextView: visible is system.time.showampm',
 '03-17 16:13:38.861  2227  2227 D TextView: mVisiblity.getValue is false',
 '03-17 16:13:38.869  2227  2227 D TextView: visible is system.charge.show',
 '03-17 16:13:38.871  2227  2227 D TextView: mVisiblity.getValue is false',
 '03-17 16:13:38.875  2227  2227 D TextView: visible is system.call.count gt 0',
 '03-17 16:13:38.877  2227  2227 D TextView: mVisiblity.getValue is false']

In [20]:
rdd.take(10)

['03-17 16:13:38.811  1702  2395 D WindowManager: printFreezingDisplayLogsopening app wtoken = AppWindowToken{9f4ef63 token=Token{a64f992 ActivityRecord{de9231d u0 com.tencent.qt.qtl/.activity.info.NewsDetailXmlActivity t761}}}, allDrawn= false, startingDisplayed =  false, startingMoved =  false, isRelaunching =  false',
 '03-17 16:13:38.819  1702  8671 D PowerManagerService: acquire lock=233570404, flags=0x1, tag="View Lock", name=com.android.systemui, ws=null, uid=10037, pid=2227',
 '03-17 16:13:38.820  1702  8671 D PowerManagerService: ready=true,policy=3,wakefulness=1,wksummary=0x23,uasummary=0x1,bootcompleted=true,boostinprogress=false,waitmodeenable=false,mode=false,manual=38,auto=-1,adj=0.0userId=0',
 '03-17 16:13:38.839  1702  2113 V WindowManager: Skipping AppWindowToken{df0798e token=Token{78af589 ActivityRecord{3b04890 u0 com.tencent.qt.qtl/com.tencent.video.player.activity.PlayerActivity t761}}} -- going to hide',
 '03-17 16:13:38.859  2227  2227 D TextView: visible is system.time.showampm',
 '03-17 16:13:38.861  2227  2227 D TextView: mVisiblity.getValue is false',
 '03-17 16:13:38.869  2227  2227 D TextView: visible is system.charge.show',
 '03-17 16:13:38.871  2227  2227 D TextView: mVisiblity.getValue is false',
 '03-17 16:13:38.875  2227  2227 D TextView: visible is system.call.count gt 0',
 '03-17 16:13:38.877  2227  2227 D TextView: mVisiblity.getValue is false']

In [21]:
line_count = rdd.count()
print(f"Number of lines: {line_count}")

Number of lines: 2000

In [22]:
first_line = rdd.first()
print(f"First line: {first_line}")

First line: 03-17 16:13:38.811  1702  2395 D WindowManager: printFreezingDisplayLogsopening app wtoken = AppWindowToken{9f4ef63 token=Token{a64f992 ActivityRecord{de9231d u0 com.tencent.qt.qtl/.activity.info.NewsDetailXmlActivity t761}}}, allDrawn= false, startingDisplayed =  false, startingMoved =  false, isRelaunching =  false

In [23]:
filtered_rdd = rdd.filter(lambda line: 'WindowManager:' in line)
filtered_rdd.take(10)

['03-17 16:13:38.811  1702  2395 D WindowManager: printFreezingDisplayLogsopening app wtoken = AppWindowToken{9f4ef63 token=Token{a64f992 ActivityRecord{de9231d u0 com.tencent.qt.qtl/.activity.info.NewsDetailXmlActivity t761}}}, allDrawn= false, startingDisplayed =  false, startingMoved =  false, isRelaunching =  false',
 '03-17 16:13:38.839  1702  2113 V WindowManager: Skipping AppWindowToken{df0798e token=Token{78af589 ActivityRecord{3b04890 u0 com.tencent.qt.qtl/com.tencent.video.player.activity.PlayerActivity t761}}} -- going to hide',
 '03-17 16:13:38.915  1702  3693 V WindowManager: Skipping AppWindowToken{df0798e token=Token{78af589 ActivityRecord{3b04890 u0 com.tencent.qt.qtl/com.tencent.video.player.activity.PlayerActivity t761}}} -- going to hide',
 '03-17 16:13:38.994  1702 27365 I WindowManager: Destroying surface Surface(name=SurfaceView - com.tencent.qt.qtl/com.tencent.video.player.activity.PlayerActivity) called by com.android.server.wm.WindowStateAnimator.destroyDeferredSurfaceLocked:942 com.android.server.wm.WindowManagerService.performDeferredDestroyWindow:3407 com.android.server.wm.Session.performDeferredDestroy:225 android.view.IWindowSession$Stub.onTransact:398 com.android.server.wm.Session.onTransact:136 android.os.Binder.execTransact:565 <bottom of call stack> <bottom of call stack> ',
 '03-17 16:13:39.006  1702  2639 I WindowManager: Destroying surface Surface(name=com.tencent.qt.qtl/com.tencent.video.player.activity.PlayerActivity) called by com.android.server.wm.WindowStateAnimator.destroySurface:2060 com.android.server.wm.WindowStateAnimator.destroySurfaceLocked:913 com.android.server.wm.WindowState.destroyOrSaveSurface:2201 com.android.server.wm.WindowManagerService.tryStartExitingAnimation:3299 com.android.server.wm.WindowManagerService.relayoutWindow:3179 com.android.server.wm.Session.relayout:215 android.view.IWindowSession$Stub.onTransact:286 com.android.server.wm.Session.onTransact:136 ',
 '03-17 16:13:39.069  1702  1815 I WindowManager: orientation change is complete, call stopFreezingDisplayLocked',
 '03-17 16:13:39.070  1702  1815 I WindowManager: Screen frozen for +1s0ms due to Window{ca98d5 u0 com.tencent.qt.qtl/com.tencent.qt.qtl.activity.info.NewsDetailXmlActivity}',
 '03-17 16:13:39.070  1702  1815 D WindowManager: startAnimation begin',
 '03-17 16:13:39.079  1702  1815 D WindowManager: startAnimation end',
 '03-17 16:13:39.207  1702  1815 I WindowManager: rotationForOrientationLw(orient=1, last=0); user=0 USER_ROTATION_LOCKED']

In [24]:
line_lengths = rdd.map(lambda line: len(line))
line_lengths.take(10)

[318, 161, 223, 218, 74, 71, 72, 71, 76, 71]

In [25]:
# Reduce to get the total number of characters in the text file
total_characters = line_lengths.reduce(lambda a, b: a + b)
print(f"Total number of characters: {total_characters}")

Total number of characters: 275078

In [26]:
rdd.flatMap(lambda line: line.split(" ")).take(10)

['03-17',
 '16:13:38.811',
 '',
 '1702',
 '',
 '2395',
 'D',
 'WindowManager:',
 'printFreezingDisplayLogsopening',
 'app']

In [27]:
words = rdd.flatMap(lambda line: line.split(" "))
word_pairs = words.map(lambda word: (word, 1))
word_counts = word_pairs.reduceByKey(lambda a, b: a + b)

word_counts.take(10)

[('03-17', 2000),
 ('', 3819),
 ('D', 650),
 ('WindowManager:', 86),
 ('app', 6),
 ('token=Token{a64f992', 3),
 ('ActivityRecord{de9231d', 3),
 ('com.tencent.qt.qtl/.activity.info.NewsDetailXmlActivity', 3),
 ('allDrawn=', 1),
 ('false,', 66)]

In [28]:
schema = StructType([
    StructField("word", StringType(), True),
    StructField("count", IntegerType(), True)
])

word_counts_df = spark.createDataFrame(word_counts, schema).show()

+--------------------+-----+
|                word|count|
+--------------------+-----+
|               03-17| 2000|
|                    | 3819|
|                   D|  650|
|      WindowManager:|   86|
|                 app|    6|
| token=Token{a64f992|    3|
|ActivityRecord{de...|    3|
|com.tencent.qt.qt...|    3|
|           allDrawn=|    1|
|              false,|   66|
|   startingDisplayed|    1|
|       startingMoved|    1|
|PowerManagerService:|  387|
|     lock=233570404,|    1|
|              Lock",|    2|
|name=com.android....|    1|
|        16:13:38.839|    1|
|                2113|   29|
|ActivityRecord{3b...|    2|
|com.tencent.qt.qt...|    2|
+--------------------+-----+
only showing top 20 rows

In [29]:
import re

In [30]:
# Define the regular expression pattern for real words
pattern = re.compile(r'\b[A-Za-z]+\b')

def extract_words(line):
    return pattern.findall(line)

words_rdd = rdd.flatMap(extract_words)

words_rdd.take(10)

['D',
 'WindowManager',
 'printFreezingDisplayLogsopening',
 'app',
 'wtoken',
 'AppWindowToken',
 'token',
 'Token',
 'ActivityRecord',
 'com']

In [31]:
word_pairs = words_rdd.map(lambda word: (word, 1))
word_counts = word_pairs.reduceByKey(lambda a, b: a + b)

word_counts.sortByKey().take(20)

[('ACTIVITY', 2),
 ('AMP', 1),
 ('Acquiring', 33),
 ('Activity', 1),
 ('ActivityInfo', 4),
 ('ActivityManager', 253),
 ('ActivityManagerService', 9),
 ('ActivityRecord', 10),
 ('ActivityStack', 5),
 ('Alarm', 5),
 ('AlarmManager', 13),
 ('AndroidRuntimeException', 3),
 ('Animating', 85),
 ('ApStaDisabledState', 1),
 ('AppWindowToken', 16),
 ('Application', 3),
 ('AudioManager', 66),
 ('AudioMix', 11),
 ('Bad', 1),
 ('Binder', 1)]

In [32]:
word_counts.sortBy(lambda x: x[1], ascending=False).take(20)

[('I', 920),
 ('false', 914),
 ('true', 655),
 ('D', 650),
 ('PhoneStatusBar', 507),
 ('PowerManagerService', 453),
 ('com', 411),
 ('Rect', 404),
 ('android', 369),
 ('V', 257),
 ('DisplayPowerController', 255),
 ('ActivityManager', 253),
 ('vis', 221),
 ('policy', 201),
 ('adj', 200),
 ('newVal', 200),
 ('dockedStackBounds', 200),
 ('setSystemUiVisibility', 200),
 ('mask', 200),
 ('oldVal', 200)]

In [33]:
word_counts.distinct().take(20)

[('D', 650),
 ('AppWindowToken', 16),
 ('Token', 6),
 ('ActivityRecord', 10),
 ('tencent', 116),
 ('View', 2),
 ('Lock', 2),
 ('name', 78),
 ('systemui', 24),
 ('uid', 148),
 ('adj', 200),
 ('video', 4),
 ('player', 4),
 ('going', 4),
 ('hide', 4),
 ('TextView', 10),
 ('show', 2),
 ('release', 26),
 ('I', 920),
 ('StackScrollAlgorithm', 156)]

In [34]:
word_counts.count()

579

In [35]:
word_counts.collect()

word_counts.getNumPartitions()

2

In [36]:
rdd1 = sc.parallelize([("a", 1), ("b", 2)])
rdd2 = sc.parallelize([("a", 3), ("b", 4), ("c", 5)])
result = rdd1.join(rdd2)
result.take(10)

[('a', (1, 3)), ('b', (2, 4))]

In [37]:
rdd1 = sc.parallelize([1, 2, 3])
rdd2 = sc.parallelize([3, 4, 5])
result = rdd1.union(rdd2)

result.take(10)

[1, 2, 3, 3, 4, 5]

In [38]:
df_parquet.select("name").show()
df_parquet.select("name", "age").show()

+--------------------+
|                name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

+--------------------+----+
|                name| age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
|Futrelle, Mrs. Ja...|35.0|
|Allen, Mr. Willia...|35.0|
|    Moran, Mr. James|NULL|
|McCarthy, Mr. Tim...|54.0|
|Palsson, Master. ...| 2.0|
|Johnson, Mrs. Osc...|27.0|
|Nasser, Mrs. Nich...|14.0|
|Sandstrom, Miss. ...| 4.0|
|Bonnell, Miss. El...|58.0|
|Saundercock, Mr. ...|20.0|
|Andersson, Mr. An...|39.0|
|Vestrom, Miss. Hu...|14.0|
|Hewlett, Mrs. (Ma...|55.0|
|Rice, Master. Eugene| 2.0|
|Williams, Mr. Cha...|NULL|
|Vander Planke, Mr...|31.0|
|Masselmani, Mrs. ...|NULL|
+--------------------+----+
only showing top 20 rows

In [39]:
df_parquet.filter(df_parquet["age"] > 25).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [40]:
df_parquet.filter("age > 25").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [41]:
df_parquet.filter(F.col("age") > 25).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [42]:
df_parquet.filter((F.col("age") > 25) & (F.col("age") < 30)).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|   26.0| NULL|       S|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|            2697| 7.2292| NULL|       C|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|      C.A. 29395|   10.5|  F33|       S|
|         70|       0|     3|   Kink, Mr. Vincenz|  male|26.0|    2|    0|          315151| 8.6625| NULL|       S|
|         74|       0|     3|Chronopoulos, Mr....|  male|26.0|    1|    0|            2680|14.4542| NULL|       C|
|         82|       1|     3|Sheerlinck, Mr. J...|  male|29.0|    0|    0|          345779|    9.5| NULL|       S|
|         84|       0|     1|Carrau, Mr. Franc...|  male|28.0|    0|    0|          113059|   47.1| NULL|       S|
|         91|       0|     3|Christmann, Mr. Emil|  male|29.0|    0|    0|          343276|   8.05| NULL|       S|
|         94|       0|     3|Dean, Mr. Bertram...|  male|26.0|    1|    2|       C.A. 2315| 20.575| NULL|       S|
|        101|       0|     3|Petranec, Miss. M...|female|28.0|    0|    0|          349245| 7.8958| NULL|       S|
|        106|       0|     3|Mionoff, Mr. Stoy...|  male|28.0|    0|    0|          349207| 7.8958| NULL|       S|
|        118|       0|     2|Turpin, Mr. Willi...|  male|29.0|    1|    0|           11668|   21.0| NULL|       S|
|        134|       1|     2|Weisz, Mrs. Leopo...|female|29.0|    1|    0|          228414|   26.0| NULL|       S|
|        147|       1|     3|Andersson, Mr. Au...|  male|27.0|    0|    0|          350043| 7.7958| NULL|       S|
|        163|       0|     3|Bengtsson, Mr. Jo...|  male|26.0|    0|    0|          347068|  7.775| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [43]:
df_grouped = df_parquet.groupBy("age").count()
df_grouped.show()

+----+-----+
| age|count|
+----+-----+
| 8.0|    4|
|70.0|    2|
| 7.0|    3|
|20.5|    1|
|49.0|    6|
|29.0|   20|
|40.5|    2|
|64.0|    2|
|47.0|    9|
|42.0|   13|
|24.5|    1|
|44.0|    9|
|35.0|   18|
|NULL|  177|
|62.0|    4|
|18.0|   26|
|80.0|    1|
|34.5|    1|
|39.0|   14|
| 1.0|    7|
+----+-----+
only showing top 20 rows

In [44]:
df_parquet.groupBy("age")

GroupedData[grouping expressions: [age], value: [PassengerId: bigint, Survived: bigint ... 10 more fields], type: GroupBy]

In [45]:
df_parquet.agg(F.avg("age")).show()

+-----------------+
|         avg(age)|
+-----------------+
|29.69911764705882|
+-----------------+

In [46]:
df_parquet.agg(F.min("age")).show()

+--------+
|min(age)|
+--------+
|    0.42|
+--------+

In [47]:
df_parquet.agg(F.max("age")).show()

+--------+
|max(age)|
+--------+
|    80.0|
+--------+

In [48]:
df_parquet.withColumn("age_in_10_years", F.col("age") + 10).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|age_in_10_years|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|           32.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|           48.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|           36.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|           45.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|           45.0|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|           NULL|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|           64.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|           12.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|           37.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|           24.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|           14.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|           68.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|           30.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|           49.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|           24.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|           65.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|           12.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|           NULL|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|           41.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|           NULL|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------------+
only showing top 20 rows

In [49]:
data = [("John", 30), ("Jane", 25), ("Doe", 22)]
df = spark.createDataFrame(data, ["name", "age"])

data2 = [("John", "USA"), ("Jane", "UK"), ("Doe", "Canada")]
df2 = spark.createDataFrame(data2, ["name", "country"])

df_joined = df.join(df2, on="name", how="inner")
df_joined.show()

+----+---+-------+
|name|age|country|
+----+---+-------+
| Doe| 22| Canada|
|Jane| 25|     UK|
|John| 30|    USA|
+----+---+-------+

In [50]:
df_parquet.orderBy("age").show()
df_parquet.orderBy(F.col("age").desc()).show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|         Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
|         88|       0|     3|Slocovski, Mr. Se...|  male|NULL|    0|    0|SOTON/OQ 392086|    8.05| NULL|       S|
|        199|       1|     3|Madigan, Miss. Ma...|female|NULL|    0|    0|         370370|    7.75| NULL|       Q|
|         96|       0|     3|Shorney, Mr. Char...|  male|NULL|    0|    0|         374910|    8.05| NULL|       S|
|         83|       1|     3|McDermott, Miss. ...|female|NULL|    0|    0|         330932|  7.7875| NULL|       Q|
|        102|       0|     3|Petroff, Mr. Past...|  male|NULL|    0|    0|         349215|  7.8958| NULL|       S|
|         46|       0|     3|Rogers, Mr. Willi...|  male|NULL|    0|    0|S.C./A.4. 23567|    8.05| NULL|       S|
|        108|       1|     3|Moss, Mr. Albert ...|  male|NULL|    0|    0|         312991|   7.775| NULL|       S|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|NULL|    0|    0|         349253|  7.8958| NULL|       C|
|        110|       1|     3| Moran, Miss. Bertha|female|NULL|    1|    0|         371110|   24.15| NULL|       Q|
|         29|       1|     3|O'Dwyer, Miss. El...|female|NULL|    0|    0|         330959|  7.8792| NULL|       Q|
|        122|       0|     3|Moore, Mr. Leonar...|  male|NULL|    0|    0|      A4. 54510|    8.05| NULL|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|       PC 17569|146.5208|  B78|       C|
|        127|       0|     3| McMahon, Mr. Martin|  male|NULL|    0|    0|         370372|    7.75| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|         244373|    13.0| NULL|       S|
|        197|       0|     3| Mernagh, Mr. Robert|  male|NULL|    0|    0|         368703|    7.75| NULL|       Q|
|        129|       1|     3|   Peter, Miss. Anna|female|NULL|    1|    1|           2668| 22.3583|F E69|       C|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|          14311|    7.75| NULL|       Q|
|        141|       0|     3|Boulos, Mrs. Jose...|female|NULL|    0|    2|           2678| 15.2458| NULL|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|NULL|    0|    0|          19947|    35.5|  C52|       S|
|        155|       0|     3|Olsen, Mr. Ole Ma...|  male|NULL|    0|    0|      Fa 265302|  7.3125| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
|        631|       1|     1|Barkworth, Mr. Al...|  male|80.0|    0|    0|      27042|   30.0|        A23|       S|
|        852|       0|     3| Svensson, Mr. Johan|  male|74.0|    0|    0|     347060|  7.775|       NULL|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|   PC 17754|34.6542|         A5|       C|
|        494|       0|     1|Artagaveytia, Mr....|  male|71.0|    0|    0|   PC 17609|49.5042|       NULL|       C|
|        117|       0|     3|Connors, Mr. Patrick|  male|70.5|    0|    0|     370369|   7.75|       NULL|       Q|
|        673|       0|     2|Mitchell, Mr. Hen...|  male|70.0|    0|    0| C.A. 24580|   10.5|       NULL|       S|
|        746|       0|     1|Crosby, Capt. Edw...|  male|70.0|    1|    1|  WE/P 5735|   71.0|        B22|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0| C.A. 24579|   10.5|       NULL|       S|
|        457|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|      13509|  26.55|        E38|       S|
|        281|       0|     3|    Duane, Mr. Frank|  male|65.0|    0|    0|     336439|   7.75|       NULL|       Q|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|     113509|61.9792|        B30|       C|
|        546|       0|     1|Nicholson, Mr. Ar...|  male|64.0|    0|    0|        693|   26.0|       NULL|       S|
|        439|       0|     1|   Fortune, Mr. Mark|  male|64.0|    1|    4|      19950|  263.0|C23 C25 C27|       S|
|        484|       1|     3|Turkula, Mrs. (He...|female|63.0|    0|    0|       4134| 9.5875|       NULL|       S|
|        276|       1|     1|Andrews, Miss. Ko...|female|63.0|    1|    0|      13502|77.9583|         D7|       S|
|        556|       0|     1|  Wright, Mr. George|  male|62.0|    0|    0|     113807|  26.55|       NULL|       S|
|        253|       0|     1|Stead, Mr. Willia...|  male|62.0|    0|    0|     113514|  26.55|        C87|       S|
|        830|       1|     1|Stone, Mrs. Georg...|female|62.0|    0|    0|     113572|   80.0|        B28|    NULL|
|        571|       1|     2|  Harris, Mr. George|  male|62.0|    0|    0|S.W./PP 752|   10.5|       NULL|       S|
|        327|       0|     3|Nysveen, Mr. Joha...|  male|61.0|    0|    0|     345364| 6.2375|       NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
only showing top 20 rows

In [51]:
df_parquet.drop("age").show()

+-----------+--------+------+--------------------+------+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [52]:
df_parquet.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [53]:
df_parquet.distinct().show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
|        680|       1|     1|Cardeza, Mr. Thom...|  male|36.0|    0|    1|PC 17755|512.3292|B51 B53 B55|       C|
|        700|       0|     3|Humblen, Mr. Adol...|  male|42.0|    0|    0|  348121|    7.65|      F G63|       S|
|        873|       0|     1|Carlsson, Mr. Fra...|  male|33.0|    0|    0|     695|     5.0|B51 B53 B55|       S|
|        310|       1|     1|Francatelli, Miss...|female|30.0|    0|    0|PC 17485| 56.9292|        E36|       C|
|        436|       1|     1|Carter, Miss. Luc...|female|14.0|    1|    2|  113760|   120.0|    B96 B98|       S|
|        888|       1|     1|Graham, Miss. Mar...|female|19.0|    0|    0|  112053|    30.0|        B42|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|  348123|    7.65|      F G73|       S|
|        810|       1|     1|Chambers, Mrs. No...|female|33.0|    1|    0|  113806|    53.1|         E8|       S|
|        691|       1|     1|Dick, Mr. Albert ...|  male|31.0|    1|    0|   17474|    57.0|        B20|       S|
|        138|       0|     1|Futrelle, Mr. Jac...|  male|37.0|    1|    0|  113803|    53.1|       C123|       S|
|        210|       1|     1|    Blank, Mr. Henry|  male|40.0|    0|    0|  112277|    31.0|        A31|       C|
|        610|       1|     1|Shutes, Miss. Eli...|female|40.0|    0|    0|PC 17582|153.4625|       C125|       S|
|        766|       1|     1|Hogeboom, Mrs. Jo...|female|51.0|    1|    0|   13502| 77.9583|        D11|       S|
|        880|       1|     1|Potter, Mrs. Thom...|female|56.0|    0|    1|   11767| 83.1583|        C50|       C|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|   26.55|       C103|       S|
|        328|       1|     2|Ball, Mrs. (Ada E...|female|36.0|    0|    0|   28551|    13.0|          D|       S|
|        578|       1|     1|Silvey, Mrs. Will...|female|39.0|    1|    0|   13507|    55.9|        E44|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|  248698|    13.0|        D56|       S|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|    B58 B60|       C|
|        836|       1|     1|Compton, Miss. Sa...|female|39.0|    1|    1|PC 17756| 83.1583|        E49|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
only showing top 20 rows

In [54]:
df_parquet.dropDuplicates().show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
|        680|       1|     1|Cardeza, Mr. Thom...|  male|36.0|    0|    1|PC 17755|512.3292|B51 B53 B55|       C|
|        700|       0|     3|Humblen, Mr. Adol...|  male|42.0|    0|    0|  348121|    7.65|      F G63|       S|
|        873|       0|     1|Carlsson, Mr. Fra...|  male|33.0|    0|    0|     695|     5.0|B51 B53 B55|       S|
|        310|       1|     1|Francatelli, Miss...|female|30.0|    0|    0|PC 17485| 56.9292|        E36|       C|
|        436|       1|     1|Carter, Miss. Luc...|female|14.0|    1|    2|  113760|   120.0|    B96 B98|       S|
|        888|       1|     1|Graham, Miss. Mar...|female|19.0|    0|    0|  112053|    30.0|        B42|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|  348123|    7.65|      F G73|       S|
|        810|       1|     1|Chambers, Mrs. No...|female|33.0|    1|    0|  113806|    53.1|         E8|       S|
|        691|       1|     1|Dick, Mr. Albert ...|  male|31.0|    1|    0|   17474|    57.0|        B20|       S|
|        138|       0|     1|Futrelle, Mr. Jac...|  male|37.0|    1|    0|  113803|    53.1|       C123|       S|
|        210|       1|     1|    Blank, Mr. Henry|  male|40.0|    0|    0|  112277|    31.0|        A31|       C|
|        610|       1|     1|Shutes, Miss. Eli...|female|40.0|    0|    0|PC 17582|153.4625|       C125|       S|
|        766|       1|     1|Hogeboom, Mrs. Jo...|female|51.0|    1|    0|   13502| 77.9583|        D11|       S|
|        880|       1|     1|Potter, Mrs. Thom...|female|56.0|    0|    1|   11767| 83.1583|        C50|       C|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|   26.55|       C103|       S|
|        328|       1|     2|Ball, Mrs. (Ada E...|female|36.0|    0|    0|   28551|    13.0|          D|       S|
|        578|       1|     1|Silvey, Mrs. Will...|female|39.0|    1|    0|   13507|    55.9|        E44|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|  248698|    13.0|        D56|       S|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|    B58 B60|       C|
|        836|       1|     1|Compton, Miss. Sa...|female|39.0|    1|    1|PC 17756| 83.1583|        E49|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----------+--------+
only showing top 20 rows

In [55]:
df_parquet.dropDuplicates(["age"]).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|  Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-------+--------+
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|    330877| 8.4583|   NULL|       Q|
|        804|       1|     3|Thomas, Master. A...|  male|0.42|    0|    1|      2625| 8.5167|   NULL|       C|
|        756|       1|     2|Hamalainen, Maste...|  male|0.67|    1|    1|    250649|   14.5|   NULL|       S|
|        470|       1|     3|Baclini, Miss. He...|female|0.75|    2|    1|      2666|19.2583|   NULL|       C|
|         79|       1|     2|Caldwell, Master....|  male|0.83|    0|    2|    248738|   29.0|   NULL|       S|
|        306|       1|     1|Allison, Master. ...|  male|0.92|    1|    2|    113781| 151.55|C22 C26|       S|
|        184|       1|     2|Becker, Master. R...|  male| 1.0|    2|    1|    230136|   39.0|     F4|       S|
|        206|       0|     3|Strom, Miss. Telm...|female| 2.0|    0|    1|    347054|10.4625|     G6|       S|
|        194|       1|     2|Navratil, Master....|  male| 3.0|    1|    1|    230080|   26.0|     F2|       S|
|        185|       1|     3|Kink-Heilmann, Mi...|female| 4.0|    0|    2|    315153| 22.025|   NULL|       S|
|        234|       1|     3|Asplund, Miss. Li...|female| 5.0|    4|    2|    347077|31.3875|   NULL|       S|
|        721|       1|     2|Harper, Miss. Ann...|female| 6.0|    0|    1|    248727|   33.0|   NULL|       S|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|   3101295|39.6875|   NULL|       S|
|        238|       1|     2|Collyer, Miss. Ma...|female| 8.0|    0|    2|C.A. 31921|  26.25|   NULL|       S|
|        183|       0|     3|Asplund, Master. ...|  male| 9.0|    4|    2|    347077|31.3875|   NULL|       S|
|        420|       0|     3|Van Impe, Miss. C...|female|10.0|    0|    2|    345773|  24.15|   NULL|       S|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|   CA 2144|   46.9|   NULL|       S|
|        126|       1|     3|Nicola-Yarred, Ma...|  male|12.0|    1|    0|      2651|11.2417|   NULL|       C|
|        447|       1|     2|Mellinger, Miss. ...|female|13.0|    0|    1|    250644|   19.5|   NULL|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|      2651|11.2417|   NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-------+--------+
only showing top 20 rows

In [56]:
df_parquet.fillna({"age": 0}).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 0.0|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 0.0|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 0.0|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [57]:
df_parquet.replace({3: 30, 1: 10}, subset='Pclass').show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|    30|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|    10|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|    30|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|    10|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|    30|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|    30|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|    10|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|    30|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|    30|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|    30|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|    10|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|    30|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|    30|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|    30|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|    30|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|    30|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|    30|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [58]:
df_parquet.sample(fraction=0.5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25|       NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|   113803|   53.1|       C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|   373450|   8.05|       NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|    17463|51.8625|        E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|   347742|11.1333|       NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|   237736|30.0708|       NULL|       C|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|   113783|  26.55|       C103|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|   350406| 7.8542|       NULL|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|   244373|   13.0|       NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|   239865|   26.0|       NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|   248698|   13.0|        D56|       S|
|         23|       1|     3|McGowan, Miss. An...|female|15.0|    0|    0|   330923| 8.0292|       NULL|       Q|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|   113788|   35.5|         A6|       S|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|   349909| 21.075|       NULL|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|     2631|  7.225|       NULL|       C|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|    19950|  263.0|C23 C25 C27|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0| PC 17604|82.1708|       NULL|       C|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|NULL|    0|    0|     2677| 7.2292|       NULL|       C|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|     2651|11.2417|       NULL|       C|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|    11668|   21.0|       NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----------+--------+
only showing top 20 rows

In [59]:
data1 = [("John", 30), ("Jane", 25)]
data2 = [("John", 30), ("Doe", 22)]
df1 = spark.createDataFrame(data1, ["name", "age"])
df2 = spark.createDataFrame(data2, ["name", "age"])

df1.intersect(df2).show()

+----+---+
|name|age|
+----+---+
|John| 30|
+----+---+

In [60]:
data1 = [("John", 30), ("Jane", 25)]
data2 = [("Doe", 22), ("Smith", 35)]
df1 = spark.createDataFrame(data1, ["name", "age"])
df2 = spark.createDataFrame(data2, ["name", "age"])

df1.union(df2).show()

+-----+---+
| name|age|
+-----+---+
| John| 30|
| Jane| 25|
|  Doe| 22|
|Smith| 35|
+-----+---+

In [61]:
data1 = [("John", 30), ("Jane", 25)]
data2 = [("John", 30), ("Doe", 22)]
df1 = spark.createDataFrame(data1, ["name", "age"])
df2 = spark.createDataFrame(data2, ["name", "age"])

df1.exceptAll(df2).show()

+----+---+
|name|age|
+----+---+
|Jane| 25|
+----+---+

In [62]:
df_parquet.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                NULL|  NULL| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| NULL|    NULL|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                NULL|  NULL|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| NULL|    NULL|
|    min|                1|                  0|                 1| Abbing, Mr. Anthony|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [63]:
df_parquet.select(df_parquet["name"].alias("full_name"), "age").show()

+--------------------+----+
|           full_name| age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
|Futrelle, Mrs. Ja...|35.0|
|Allen, Mr. Willia...|35.0|
|    Moran, Mr. James|NULL|
|McCarthy, Mr. Tim...|54.0|
|Palsson, Master. ...| 2.0|
|Johnson, Mrs. Osc...|27.0|
|Nasser, Mrs. Nich...|14.0|
|Sandstrom, Miss. ...| 4.0|
|Bonnell, Miss. El...|58.0|
|Saundercock, Mr. ...|20.0|
|Andersson, Mr. An...|39.0|
|Vestrom, Miss. Hu...|14.0|
|Hewlett, Mrs. (Ma...|55.0|
|Rice, Master. Eugene| 2.0|
|Williams, Mr. Cha...|NULL|
|Vander Planke, Mr...|31.0|
|Masselmani, Mrs. ...|NULL|
+--------------------+----+
only showing top 20 rows

In [64]:
pandas_df = df_parquet.toPandas()
pandas_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [65]:
df_parquet.withColumnRenamed("name", "full_name").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|           full_name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [66]:
df_parquet.sort(df_parquet["age"].desc()).show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
|        631|       1|     1|Barkworth, Mr. Al...|  male|80.0|    0|    0|      27042|   30.0|        A23|       S|
|        852|       0|     3| Svensson, Mr. Johan|  male|74.0|    0|    0|     347060|  7.775|       NULL|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|   PC 17754|34.6542|         A5|       C|
|        494|       0|     1|Artagaveytia, Mr....|  male|71.0|    0|    0|   PC 17609|49.5042|       NULL|       C|
|        117|       0|     3|Connors, Mr. Patrick|  male|70.5|    0|    0|     370369|   7.75|       NULL|       Q|
|        673|       0|     2|Mitchell, Mr. Hen...|  male|70.0|    0|    0| C.A. 24580|   10.5|       NULL|       S|
|        746|       0|     1|Crosby, Capt. Edw...|  male|70.0|    1|    1|  WE/P 5735|   71.0|        B22|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0| C.A. 24579|   10.5|       NULL|       S|
|        457|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|      13509|  26.55|        E38|       S|
|        281|       0|     3|    Duane, Mr. Frank|  male|65.0|    0|    0|     336439|   7.75|       NULL|       Q|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|     113509|61.9792|        B30|       C|
|        546|       0|     1|Nicholson, Mr. Ar...|  male|64.0|    0|    0|        693|   26.0|       NULL|       S|
|        439|       0|     1|   Fortune, Mr. Mark|  male|64.0|    1|    4|      19950|  263.0|C23 C25 C27|       S|
|        484|       1|     3|Turkula, Mrs. (He...|female|63.0|    0|    0|       4134| 9.5875|       NULL|       S|
|        276|       1|     1|Andrews, Miss. Ko...|female|63.0|    1|    0|      13502|77.9583|         D7|       S|
|        556|       0|     1|  Wright, Mr. George|  male|62.0|    0|    0|     113807|  26.55|       NULL|       S|
|        253|       0|     1|Stead, Mr. Willia...|  male|62.0|    0|    0|     113514|  26.55|        C87|       S|
|        830|       1|     1|Stone, Mrs. Georg...|female|62.0|    0|    0|     113572|   80.0|        B28|    NULL|
|        571|       1|     2|  Harris, Mr. George|  male|62.0|    0|    0|S.W./PP 752|   10.5|       NULL|       S|
|        327|       0|     3|Nysveen, Mr. Joha...|  male|61.0|    0|    0|     345364| 6.2375|       NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
only showing top 20 rows

In [67]:
df_parquet.rdd.take(
    10
)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S'),
 Row(PassengerId=6, Survived=0, Pclass=3, Name='Moran, Mr. James', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='330877', Fare=8.4583, Cabin=None, Embarked='Q'),
 Row(PassengerId=7, Survived=0, Pclass=1, Name='McCarthy, Mr. Timothy J', Sex='male', Age=54.0, SibSp=0, Parch=0, Ticket='17463', Fare=51.8625, Cabin='E46', Embarked='S'),
 Row(PassengerId=8, Survived=0, Pclass=3, Name='Palsson, Master. Gosta Leonard', Sex='male', Age=2.0, SibSp=3, Parch=1, Ticket='349909', Fare=21.075, Cabin=None, Embarked='S'),
 Row(PassengerId=9, Survived=1, Pclass=3, Name='Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', Sex='female', Age=27.0, SibSp=0, Parch=2, Ticket='347742', Fare=11.1333, Cabin=None, Embarked='S'),
 Row(PassengerId=10, Survived=1, Pclass=2, Name='Nasser, Mrs. Nicholas (Adele Achem)', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket='237736', Fare=30.0708, Cabin=None, Embarked='C')]

In [69]:
df_parquet.limit(2).show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0| PC 17599|71.2833|  C85|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+

In [70]:
for part in df_parquet.randomSplit([0.3, 0.4, 0.3]):
    part.show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|         Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+-------+-----+--------+
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|         113803|   53.1| C123|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|         237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|        PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|         113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|      A/5. 2151|   8.05| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|           2649|  7.225| NULL|       C|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|         239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|         248698|   13.0|  D56|       S|
|         23|       1|     3|McGowan, Miss. An...|female|15.0|    0|    0|         330923| 8.0292| NULL|       Q|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|         113788|   35.5|   A6|       S|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|         349909| 21.075| NULL|       S|
|         33|       1|     3|Glynn, Miss. Mary...|female|NULL|    0|    0|         335677|   7.75| NULL|       Q|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|  SC/Paris 2123|41.5792| NULL|       C|
|         46|       0|     3|Rogers, Mr. Willi...|  male|NULL|    0|    0|S.C./A.4. 23567|   8.05| NULL|       S|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|        3101295|39.6875| NULL|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|     A/4. 39886|    7.8| NULL|       S|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|           2697| 7.2292| NULL|       C|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|        CA 2144|   46.9| NULL|       S|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|           2669| 7.2292| NULL|       C|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|          36973| 83.475|  C83|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+-------+-----+--------+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|  PC 17599|71.2833|        C85|       C|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|    373450|   8.05|       NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|     17463|51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|    349909| 21.075|       NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|    347742|11.1333|       NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|    248706|   16.0|       NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|    345763|   18.0|       NULL|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|      2631|  7.225|       NULL|       C|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|     19950|  263.0|C23 C25 C27|       S|
|         29|       1|     3|O'Dwyer, Miss. El...|female|NULL|    0|    0|    330959| 7.8792|       NULL|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|NULL|    0|    0|    349216| 7.8958|       NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|  PC 17601|27.7208|       NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|C.A. 24579|   10.5|       NULL|       S|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|    113789|   52.0|       NULL|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|A./5. 2152|   8.05|       NULL|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|      2651|11.2417|       NULL|       C|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|      7546|  9.475|       NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|     11668|   21.0|       NULL|       S|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|NULL|    0|    0|    349253| 7.8958|       NULL|       C|
|         47|       0|     3|   Lennon, Mr. Denis|  male|NULL|    1|    0|    370371|   15.5|       NULL|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----------+--------+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|    7.25| NULL|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877|  8.4583| NULL|       Q|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082|  31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|  7.8542| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652|  29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|    13.0| NULL|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875| NULL|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|        PC 17569|146.5208|  B78|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604| 82.1708| NULL|       C|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|NULL|    0|    0|            2677|  7.2292| NULL|       C|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|          345764|    18.0| NULL|       S|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792| NULL|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|           14311|    7.75| NULL|       Q|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|      C.A. 31026|    10.5| NULL|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|      C.A. 34651|   27.75| NULL|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|    80.0|  B28|    NULL|
|         66|       1|     3|Moubarek, Master....|  male|NULL|    1|    1|            2661| 15.2458| NULL|       C|
|         68|       0|     3|Crease, Mr. Ernes...|  male|19.0|    0|    0|       S.P. 3464|  8.1583| NULL|       S|
|         72|       0|     3|Goodwin, Miss. Li...|female|16.0|    5|    2|         CA 2144|    46.9| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----+--------+
only showing top 20 rows

In [72]:
df_parquet.write.mode("overwrite").parquet("/home/lec_14/output/new_data.parquet")

In [73]:

df_parquet.filter(F.col("age").isNotNull()).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         23|       1|     3|McGowan, Miss. An...|female|15.0|    0|    0|          330923| 8.0292| NULL|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [74]:
df_parquet.filter(F.col("age").isNull()).show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|         Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|         330877|  8.4583| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|         244373|    13.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|           2649|   7.225| NULL|       C|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|           2631|   7.225| NULL|       C|
|         29|       1|     3|O'Dwyer, Miss. El...|female|NULL|    0|    0|         330959|  7.8792| NULL|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|NULL|    0|    0|         349216|  7.8958| NULL|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|       PC 17569|146.5208|  B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|NULL|    0|    0|         335677|    7.75| NULL|       Q|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|NULL|    0|    0|           2677|  7.2292| NULL|       C|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|NULL|    0|    0|         349253|  7.8958| NULL|       C|
|         46|       0|     3|Rogers, Mr. Willi...|  male|NULL|    0|    0|S.C./A.4. 23567|    8.05| NULL|       S|
|         47|       0|     3|   Lennon, Mr. Denis|  male|NULL|    1|    0|         370371|    15.5| NULL|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|          14311|    7.75| NULL|       Q|
|         49|       0|     3| Samaan, Mr. Youssef|  male|NULL|    2|    0|           2662| 21.6792| NULL|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|NULL|    0|    0|          19947|    35.5|  C52|       S|
|         65|       0|     1|Stewart, Mr. Albe...|  male|NULL|    0|    0|       PC 17605| 27.7208| NULL|       C|
|         66|       1|     3|Moubarek, Master....|  male|NULL|    1|    1|           2661| 15.2458| NULL|       C|
|         77|       0|     3|   Staneff, Mr. Ivan|  male|NULL|    0|    0|         349208|  7.8958| NULL|       S|
|         78|       0|     3|Moutal, Mr. Raham...|  male|NULL|    0|    0|         374746|    8.05| NULL|       S|
|         83|       1|     3|McDermott, Miss. ...|female|NULL|    0|    0|         330932|  7.7875| NULL|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
only showing top 20 rows

In [75]:

df_parquet.dropna().show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|     248698|    13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|     113509| 61.9792|        B30|       C|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|46.0|    1|    0|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|
|        103|       0|     1|White, Mr. Richar...|  male|21.0|    0|    1|      35281| 77.2875|        D26|       S|
|        111|       0|     1|Porter, Mr. Walte...|  male|47.0|    0|    0|     110465|    52.0|       C110|       S|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|   PC 17558|247.5208|    B58 B60|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
only showing top 20 rows

In [76]:
df_parquet.select(F.countDistinct("name")).show()

+--------------------+
|count(DISTINCT name)|
+--------------------+
|                 891|
+--------------------+

In [77]:
df_parquet.corr("age", "Fare")

0.135515853527051

In [78]:
df_parquet.cov("age", "Fare")

118.49631587080923

In [79]:
quantiles = df_parquet.approxQuantile("age", [0.25, 0.5, 0.75], 0.01)
print(f"Approximate quantiles: {quantiles}")

Approximate quantiles: [20.0, 28.0, 38.0]

In [80]:
df_parquet.sampleBy("name", fractions={"a": 0.5, "b": 1.0, "c": 0.2}).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [81]:

df_parquet.rollup("age").sum("Fare").show()

+----+------------------+
| age|         sum(Fare)|
+----+------------------+
|62.0|             143.6|
| 2.0|          375.3625|
|NULL| 3922.066300000001|
|20.5|              7.25|
|23.0| 569.9207999999999|
|74.0|             7.775|
|27.0| 546.5041000000001|
|40.0|482.42910000000006|
|36.0|         1319.2291|
|14.0|          255.7542|
|19.0| 696.7374000000001|
|55.5|              8.05|
|36.5|              26.0|
|32.0| 437.8208000000001|
|10.0|             52.05|
|21.0|          757.5749|
|13.0|           26.7292|
|30.5|              15.8|
| 8.0|             113.2|
|60.0|             220.0|
+----+------------------+
only showing top 20 rows

In [82]:
def add_years(df):
    return df.withColumn("age_plus_5", F.col("age") + 5)
    
df_parquet.transform(add_years).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|age_plus_5|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|      27.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|      43.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|      31.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|      40.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|      40.0|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|      NULL|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|      59.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|       7.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|      32.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|      19.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|       9.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|      63.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|      25.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|      44.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|      19.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|      60.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|       7.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|      NULL|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|      36.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|      NULL|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----------+
only showing top 20 rows

In [83]:
data1 = [("John", 30), ("Jane", 25)]
data2 = [("USA",), ("UK",)]
df1 = spark.createDataFrame(data1, ["name", "age"])
df2 = spark.createDataFrame(data2, ["country"])

# Perform a cross join
df_cross_join = df1.crossJoin(df2)
df_cross_join.show()

+----+---+-------+
|name|age|country|
+----+---+-------+
|John| 30|    USA|
|John| 30|     UK|
|Jane| 25|    USA|
|Jane| 25|     UK|
+----+---+-------+

In [84]:
df_parquet.createOrReplaceTempView("people")

# Run SQL queries on the temporary view
spark.sql("SELECT * FROM people WHERE age > 25").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [85]:
df_parquet.selectExpr("name as full_name", "age + 5 as age_in_5_years").show()

+--------------------+--------------+
|           full_name|age_in_5_years|
+--------------------+--------------+
|Braund, Mr. Owen ...|          27.0|
|Cumings, Mrs. Joh...|          43.0|
|Heikkinen, Miss. ...|          31.0|
|Futrelle, Mrs. Ja...|          40.0|
|Allen, Mr. Willia...|          40.0|
|    Moran, Mr. James|          NULL|
|McCarthy, Mr. Tim...|          59.0|
|Palsson, Master. ...|           7.0|
|Johnson, Mrs. Osc...|          32.0|
|Nasser, Mrs. Nich...|          19.0|
|Sandstrom, Miss. ...|           9.0|
|Bonnell, Miss. El...|          63.0|
|Saundercock, Mr. ...|          25.0|
|Andersson, Mr. An...|          44.0|
|Vestrom, Miss. Hu...|          19.0|
|Hewlett, Mrs. (Ma...|          60.0|
|Rice, Master. Eugene|           7.0|
|Williams, Mr. Cha...|          NULL|
|Vander Planke, Mr...|          36.0|
|Masselmani, Mrs. ...|          NULL|
+--------------------+--------------+
only showing top 20 rows

In [86]:
df_parquet.inputFiles()

['file:///home/lec_14/data/titanic.parquet']

In [87]:

df_parquet.isEmpty()

False

In [88]:
df_parquet.isStreaming

False

In [89]:

df_parquet.summary().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                NULL|  NULL| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| NULL|    NULL|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                NULL|  NULL|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| NULL|    NULL|
|    min|                1|                  0|                 1| Abbing, Mr. Anthony|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    25%|              223|                  0|                 2|                NULL|  NULL|              20.0|                 0|                  0|           19996.0|           7.8958| NULL|    NULL|
|    50%|              446|                  0|                 3|                NULL|  NULL|              28.0|                 0|                  0|          236171.0|          14.4542| NULL|    NULL|
|    75%|              669|                  1|                 3|                NULL|  NULL|              38.0|                 1|                  0|          347743.0|             31.0| NULL|    NULL|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [90]:
window_spec = Window.partitionBy("sex").orderBy("Survived")

In [91]:

# Apply row_number
df_parquet.withColumn("row_number", F.row_number().over(window_spec)).where("row_number = 1").show()

# Apply rank
df_parquet.withColumn("rank", F.rank().over(window_spec)).where("rank = 1").show()

# Apply dense_rank
df_parquet.withColumn("dense_rank", F.dense_rank().over(window_spec)).where(F.col("dense_rank").isin([1, 2])).show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------+------+-----+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|  Fare|Cabin|Embarked|row_number|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+------+-----+--------+----------+
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|   350406|7.8542| NULL|       S|         1|
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|  7.25| NULL|       S|         1|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+------+-----+--------+----------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+----+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|Cabin|Embarked|rank|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+----+
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|    350406| 7.8542| NULL|       S|   1|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|    345763|   18.0| NULL|       S|   1|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|    349909| 21.075| NULL|       S|   1|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|    345764|   18.0| NULL|       S|   1|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|      7546|  9.475| NULL|       S|   1|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|     11668|   21.0| NULL|       S|   1|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|    349237|   17.8| NULL|       S|   1|
|         72|       0|     3|Goodwin, Miss. Li...|female|16.0|    5|    2|   CA 2144|   46.9| NULL|       S|   1|
|        101|       0|     3|Petranec, Miss. M...|female|28.0|    0|    0|    349245| 7.8958| NULL|       S|   1|
|        112|       0|     3|Zabour, Miss. Hileni|female|14.5|    1|    0|      2665|14.4542| NULL|       C|   1|
|        114|       0|     3|Jussila, Miss. Ka...|female|20.0|    1|    0|      4136|  9.825| NULL|       S|   1|
|        115|       0|     3|Attalah, Miss. Ma...|female|17.0|    0|    0|      2627|14.4583| NULL|       C|   1|
|        120|       0|     3|Andersson, Miss. ...|female| 2.0|    4|    2|    347082| 31.275| NULL|       S|   1|
|        133|       0|     3|Robins, Mrs. Alex...|female|47.0|    1|    0| A/5. 3337|   14.5| NULL|       S|   1|
|        141|       0|     3|Boulos, Mrs. Jose...|female|NULL|    0|    2|      2678|15.2458| NULL|       C|   1|
|        148|       0|     3|Ford, Miss. Robin...|female| 9.0|    2|    2|W./C. 6608| 34.375| NULL|       S|   1|
|        168|       0|     3|Skoog, Mrs. Willi...|female|45.0|    1|    4|    347088|   27.9| NULL|       S|   1|
|        178|       0|     1|Isham, Miss. Ann ...|female|50.0|    0|    0|  PC 17595|28.7125|  C49|       C|   1|
|        181|       0|     3|Sage, Miss. Const...|female|NULL|    8|    2|  CA. 2343|  69.55| NULL|       S|   1|
|        200|       0|     2|Yrois, Miss. Henr...|female|24.0|    0|    0|    248747|   13.0| NULL|       S|   1|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+----+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|Cabin|Embarked|dense_rank|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+----------+
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|    350406| 7.8542| NULL|       S|         1|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|    345763|   18.0| NULL|       S|         1|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|    349909| 21.075| NULL|       S|         1|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|    345764|   18.0| NULL|       S|         1|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|      7546|  9.475| NULL|       S|         1|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|     11668|   21.0| NULL|       S|         1|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|    349237|   17.8| NULL|       S|         1|
|         72|       0|     3|Goodwin, Miss. Li...|female|16.0|    5|    2|   CA 2144|   46.9| NULL|       S|         1|
|        101|       0|     3|Petranec, Miss. M...|female|28.0|    0|    0|    349245| 7.8958| NULL|       S|         1|
|        112|       0|     3|Zabour, Miss. Hileni|female|14.5|    1|    0|      2665|14.4542| NULL|       C|         1|
|        114|       0|     3|Jussila, Miss. Ka...|female|20.0|    1|    0|      4136|  9.825| NULL|       S|         1|
|        115|       0|     3|Attalah, Miss. Ma...|female|17.0|    0|    0|      2627|14.4583| NULL|       C|         1|
|        120|       0|     3|Andersson, Miss. ...|female| 2.0|    4|    2|    347082| 31.275| NULL|       S|         1|
|        133|       0|     3|Robins, Mrs. Alex...|female|47.0|    1|    0| A/5. 3337|   14.5| NULL|       S|         1|
|        141|       0|     3|Boulos, Mrs. Jose...|female|NULL|    0|    2|      2678|15.2458| NULL|       C|         1|
|        148|       0|     3|Ford, Miss. Robin...|female| 9.0|    2|    2|W./C. 6608| 34.375| NULL|       S|         1|
|        168|       0|     3|Skoog, Mrs. Willi...|female|45.0|    1|    4|    347088|   27.9| NULL|       S|         1|
|        178|       0|     1|Isham, Miss. Ann ...|female|50.0|    0|    0|  PC 17595|28.7125|  C49|       C|         1|
|        181|       0|     3|Sage, Miss. Const...|female|NULL|    8|    2|  CA. 2343|  69.55| NULL|       S|         1|
|        200|       0|     2|Yrois, Miss. Henr...|female|24.0|    0|    0|    248747|   13.0| NULL|       S|         1|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+----------+
only showing top 20 rows

In [92]:
# Filter names that contain the substring 'a'
df_parquet.filter(F.col("name").like("%a%")).show()

# Filter names that start with 'A'
df_parquet.filter(F.col("name").like("A%")).show()

# Filter names that end with 'e'
df_parquet.filter(F.col("name").like("%e")).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|            Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|            373450|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|            347082| 31.275| NULL|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|            347077|31.3875| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|              7546|  9.475| NULL|       S|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|            349237|   17.8| NULL|       S|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|           3101281|  7.925| NULL|       S|
|         92|       0|     3|Andreasson, Mr. P...|  male|20.0|    0|    0|            347466| 7.8542| NULL|       S|
|        115|       0|     3|Attalah, Miss. Ma...|female|17.0|    0|    0|              2627|14.4583| NULL|       C|
|        120|       0|     3|Andersson, Miss. ...|female| 2.0|    4|    2|            347082| 31.275| NULL|       S|
|        145|       0|     2|Andrew, Mr. Edgar...|  male|18.0|    0|    0|            231945|   11.5| NULL|       S|
|        147|       1|     3|Andersson, Mr. Au...|  male|27.0|    0|    0|            350043| 7.7958| NULL|       S|
|        183|       0|     3|Asplund, Master. ...|  male| 9.0|    4|    2|            347077|31.3875| NULL|       S|
|        193|       1|     3|Andersen-Jensen, ...|female|19.0|    1|    0|            350046| 7.8542| NULL|       S|
|        208|       1|     3|Albimona, Mr. Nas...|  male|26.0|    0|    0|              2699|18.7875| NULL|       C|
|        211|       0|     3|      Ali, Mr. Ahmed|  male|24.0|    0|    0|SOTON/O.Q. 3101311|   7.05| NULL|       S|
|        234|       1|     3|Asplund, Miss. Li...|female| 5.0|    4|    2|            347077|31.3875| NULL|       S|
|        245|       0|     3|Attalah, Mr. Sleiman|  male|30.0|    0|    0|              2694|  7.225| NULL|       C|
|        262|       1|     3|Asplund, Master. ...|  male| 3.0|    4|    2|            347077|31.3875| NULL|       S|
|        276|       1|     1|Andrews, Miss. Ko...|female|63.0|    1|    0|             13502|77.9583|   D7|       S|
|        280|       1|     3|Abbott, Mrs. Stan...|female|35.0|    1|    1|         C.A. 2673|  20.25| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|       382652|  29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|       244373|    13.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|       248698|    13.0|  D56|       S|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123| 41.5792| NULL|       C|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|       113572|    80.0|  B28|    NULL|
|         75|       1|     3|       Bing, Mr. Lee|  male|32.0|    0|    0|         1601| 56.4958| NULL|       S|
|         81|       0|     3|Waelens, Mr. Achille|  male|22.0|    0|    0|       345767|     9.0| NULL|       S|
|        107|       1|     3|Salkjelsvik, Miss...|female|21.0|    0|    0|       343120|    7.65| NULL|       S|
|        115|       0|     3|Attalah, Miss. Ma...|female|17.0|    0|    0|         2627| 14.4583| NULL|       C|
|        121|       0|     2|Hickman, Mr. Stan...|  male|21.0|    2|    0| S.O.C. 14879|    73.5| NULL|       S|
|        128|       1|     3|Madsen, Mr. Fridt...|  male|24.0|    0|    0|      C 17369|  7.1417| NULL|       S|
|        136|       0|     2|  Richard, Mr. Emile|  male|23.0|    0|    0|SC/PARIS 2133| 15.0458| NULL|       C|
|        156|       0|     1|Williams, Mr. Cha...|  male|51.0|    0|    1|     PC 17597| 61.3792| NULL|       C|
|        159|       0|     3| Smiljanic, Mr. Mile|  male|NULL|    0|    0|       315037|  8.6625| NULL|       S|
|        170|       0|     3|       Ling, Mr. Lee|  male|28.0|    0|    0|         1601| 56.4958| NULL|       S|
|        182|       0|     2|    Pernot, Mr. Rene|  male|NULL|    0|    0|SC/PARIS 2131|   15.05| NULL|       C|
|        186|       0|     1|Rood, Mr. Hugh Ro...|  male|NULL|    0|    0|       113767|    50.0|  A32|       S|
|        193|       1|     3|Andersen-Jensen, ...|female|19.0|    1|    0|       350046|  7.8542| NULL|       S|
|        196|       1|     1|Lurette, Miss. Elise|female|58.0|    0|    0|     PC 17569|146.5208|  B80|       C|
|        212|       1|     2|Cameron, Miss. Cl...|female|35.0|    0|    0| F.C.C. 13528|    21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+
only showing top 20 rows

In [93]:
df_parquet.filter(F.col("name").endswith("A")).show()

df_parquet.filter(F.col("name").startswith("D")).show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|         65|       0|     1|Stewart, Mr. Albe...|  male|NULL|    0|    0|PC 17605|27.7208| NULL|       C|
|        304|       1|     2| Keane, Miss. Nora A|female|NULL|    0|    0|  226593|  12.35| E101|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|      Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------------+-------+-----+--------+
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|      330958| 7.8792| NULL|       Q|
|         80|       1|     3|Dowdell, Miss. El...|female|30.0|    0|    0|      364516| 12.475| NULL|       S|
|         94|       0|     3|Dean, Mr. Bertram...|  male|26.0|    1|    2|   C.A. 2315| 20.575| NULL|       S|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|      231919|   23.0| NULL|       S|
|        131|       0|     3|Drazenoic, Mr. Jozef|  male|33.0|    0|    0|      349241| 7.8958| NULL|       C|
|        281|       0|     3|    Duane, Mr. Frank|  male|65.0|    0|    0|      336439|   7.75| NULL|       Q|
|        284|       1|     3|Dorking, Mr. Edwa...|  male|19.0|    0|    0|  A/5. 10482|   8.05| NULL|       S|
|        321|       0|     3|  Dennis, Mr. Samuel|  male|22.0|    0|    0|   A/5 21172|   7.25| NULL|       S|
|        322|       0|     3|    Danoff, Mr. Yoto|  male|27.0|    0|    0|      349219| 7.8958| NULL|       S|
|        336|       0|     3|  Denkoff, Mr. Mitto|  male|NULL|    0|    0|      349225| 7.8958| NULL|       S|
|        339|       1|     3|Dahl, Mr. Karl Ed...|  male|45.0|    0|    0|        7598|   8.05| NULL|       S|
|        348|       1|     3|Davison, Mrs. Tho...|female|NULL|    1|    0|      386525|   16.1| NULL|       S|
|        350|       0|     3|    Dimic, Mr. Jovan|  male|42.0|    0|    0|      315088| 8.6625| NULL|       S|
|        386|       0|     2|Davies, Mr. Charl...|  male|18.0|    0|    0|S.O.C. 14879|   73.5| NULL|       S|
|        417|       1|     2|Drew, Mrs. James ...|female|34.0|    1|    1|       28220|   32.5| NULL|       S|
|        424|       0|     3|Danbom, Mrs. Erns...|female|28.0|    1|    1|      347080|   14.4| NULL|       S|
|        446|       1|     1|Dodge, Master. Wa...|  male| 4.0|    0|    2|       33638|81.8583|  A34|       S|
|        511|       1|     3|Daly, Mr. Eugene ...|  male|29.0|    0|    0|      382651|   7.75| NULL|       Q|
|        545|       0|     1|Douglas, Mr. Walt...|  male|50.0|    1|    0|    PC 17761|106.425|  C86|       C|
|        550|       1|     2|Davies, Master. J...|  male| 8.0|    1|    1|  C.A. 33112|  36.75| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+------------+-------+-----+--------+
only showing top 20 rows

In [94]:
spark.stop()